:root {
  font-family: Helvetica;
  font-size: 16px;
  background-color: #a2c7e5;
  color: #fff;
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #fffffc;
}
button:hover {
  border-color: #000;
}
button:focus,
button:focus-visible {
  outline: 4px auto #a9c6e2;
}

#app {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}


/* Sakura photo by Masaaki Komori on Unsplash */